<h2>Hogwarts Students</h2>

<% @students.each do |student| %>

<p>Student Name: <%= student.full_name %></p>
<p>House: <%= student.house %></p>
<p>Age: <%= student.age %></p>
<a href="/students/<%= student.id %>">Student details:</a>

<hr/>

<% end %>
